@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


:root {
    font-size: 16px;
    font-family: "Quicksand", serif;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    padding: 1.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo specific styles */
.logo {
    display: flex;
    align-items: center;
}

.brand-name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.875rem;
    color: rgba(17, 17, 17, 1);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    text-decoration: none;
}

.nav-link.home {
    font-weight: 700;
    color: rgba(254, 163, 1, 1);
}

.nav-link.about {
    color: rgba(1, 172, 253, 1);
}

.nav-link.facilities {
    color: rgba(5, 212, 223, 1);
}

.nav-link.admission {
    color: rgba(93, 88, 239, 1);
}

.contact-btn {
    width: 12.3125rem;
    padding: 0.625rem;
    background-color: rgba(254, 163, 1, 1);
    border-radius: 0.75rem;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875rem;
    cursor: pointer;
}
/* hero section */
.hero {
    display: flex;
    align-items: center;
    gap: 3.125rem; 
    width: 100%;
    justify-content: space-around;
  }
  
  .hero__content {
    width: 40rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem; 
  }
  
  .hero__title {
    width: 100%;
    font-size: 3.5rem; 
    font-weight: 700;
    line-height: 3.8125rem; 
  }
  .org1{
    color: #FEA301;
  }
  .blue1{
    color: #01ACFD;
  }
  
  .hero__text {
    width: 100%;
    font-size: 1.25rem; 
    line-height: 100%;
    color: rgb(17, 17, 17);
  }
  
  .hero__button {
    width: 12.3125rem; 
    padding: 0.625rem; 
    background-color: rgb(17, 17, 17);
    border-radius: 0.75rem; 
    border: none;
    color: white;
    font-size: 1.25rem; 
    font-weight: 700;
    line-height: 1.875rem; 
    cursor: pointer;
  }
  
  .hero__image-wrapper {
    width: 29.288rem; 
    height: 35.938rem; 
    position: relative;
  }
  
  .hero__shape {
    width: 14.644rem; 
    height:29.139rem; 
    position: absolute;
    top: 6.799rem; 
    border-radius: 6.813rem; 
  }
  

/* card section */
.curriculum {
    padding: 3.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(./assets/bg.png);
    /* max-width: 90rem; */

}

.curriculum__title {
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 3.59375rem;
    text-align: center;
    color: #000;
    margin-bottom: 5rem;
}

.card-container {
    display: flex;
    gap: 1.75rem;
    width: 100%;
    max-width: 72.5rem;
    justify-content: center;
}

.card {
    width: 22.75rem;
    padding: 3.3125rem 2.5625rem 3.375rem;
    border-radius: 1.1875rem;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 1.75rem 0.0625rem rgba(0, 0, 0, 0.05) inset;
}

.card--blue {
    background-image: linear-gradient(180deg, #DEF5FF, transparent 40%);
    border-color: #DEF5FF;
}

.card--yellow {
    background-image: linear-gradient(180deg, #FFF4DC, transparent 40%);
    border-color: #FFF4DC;
}

.card--purple {
    background-image: linear-gradient(180deg, #EEE1FF, transparent 40%);
    border-color: #F2E8FF;
}

.card__icon {
    width: 8.5625rem;
    height: 8.5625rem;
    margin-bottom: 2.0625rem;
}

.card__heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9375rem;
    color: #202020;
    text-align: center;
    margin-bottom: 2.0625rem;
}

.card__text {
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align: center;
    color: #808080;
    margin-bottom: 2.0625rem;
}

.card__link {
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.75rem;
    text-decoration: none;
}

.card__link--blue { color: #64C8FF; }
.card__link--yellow { color: #F0AA00; }
.card__link--purple { color: #8700FF; }

.nav-dots {
    margin-top: 5rem;
    display: flex;
    gap: 0.625rem;
}

.nav-dot {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: #FEA301;
    border: none;
    cursor: pointer;
}

/* stories section */
.stories {
    background-image: url(./assets/bg.png), linear-gradient(360deg, rgb(255, 206, 122), transparent 90%);
    width: 100%;
    
    padding: 3.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #DEF5FF;
}
  .stories__title {
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 3.594rem;
    text-align: center;
    color: #000;
    margin-bottom: 5rem;
  }
  
  .stories__container {
    width: 100%;
    max-width: 72.5rem;
    display: flex;
    gap: 2.17rem;
    margin-bottom: 5rem;
  }
  
  .story-card {
    background: white;
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .story-card--featured {
    flex: 1;
    max-width: 33.75rem;
  }
  
  .story-card__image {
    width: 100%;
    object-fit: cover;
    
  }
  
  .story-card__content {
    
    padding: .22rem .975rem;
    display: flex;
    flex-direction: column;
    gap: 1.22rem;
    
  }
  
  
  .date-badge {
    display: inline-flex;
    padding: 0.875rem 1.188rem;
    border-radius: 3rem;
    font-size: 0.959rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    width: fit-content;
    position: relative;
    top: -35px; 
}
  .date-badge--blue { background-color: rgb(60, 216, 232); }
  .date-badge--green { background-color: rgb(149, 178, 38); }
  .date-badge--purple { background-color: rgb(93, 88, 240); }
  
  .story-card__heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.397rem;
    color: #000;
  }
  
  .stories__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.25rem;
    width: 37.5625rem;
    
  }
  
  .stories__cta {
    padding: 0.625rem;
    background-color: #111;
    border-radius: 0.75rem;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    /* min-width: 12.313rem; */
    cursor: pointer;
  }




  /* footer */
  .footer {
    background-color: rgba(1, 172, 253, 1);
    padding: 5rem 6.25rem 2rem;
    color: white;
  }
  
  .footer__grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:  repeat(3, 1fr);
    gap: 7rem;
    margin-bottom: 3rem;
    justify-items: center;
  }
  
  .nav-footer > a{
    
    display: flex;
    text-decoration: none;
    color: white;
    padding: 0.3rem;

  }
  .footer-brand-name{
    .brand-name {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.875rem;
        color: rgb(255, 255, 255);
    }
  }




  /* */
@media screen and (max-width: 576px) {
    .navbar-container {
      /* width: 100%;
      flex-direction: column;
      gap: 1rem; */
      display: none;
    }
  
    .nav-links {
      flex-wrap: wrap;
      justify-content: center;
    }
    .nav-dots{
        display: none;
    }
  
    .hero {
      flex-direction: column;
      text-align: center;
      /* padding: 0 1rem; */
    }
  
    .hero__content {
      width: 100%;
      align-items: center;
    }
  
    .hero__image-wrapper {
      width: 100%;
      height: auto;
      order: -11; /* Move the image above the title */
    }
    .hero__title{
        order: 2;
    }
    .hero__text{
        order: 3;
    }
    .hero__button{
        order: 4;
    }
  
    .card-container {
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
    }
  
    .card {
      width: 100%;
      max-width: 22.75rem;
    }
  
    .stories__container {
      flex-direction: column;
      padding: 0 1rem;
    }
  
    .stories__grid {
      width: 97%;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin: 10px;
    }
  
    .story-card--featured {
      display: none;
    }
  
    .footer__grid {
      /* grid-template-columns: repeat(1, 1fr); */
      /* gap: 3rem;
      padding: 0 1rem; */
      display: flex;
      flex-direction: column;
      gap: 0;
      margin: 0;
    }
  }
  
  